.scrollTopActive{
  transition:.8s opacity ease;
  opacity:0;
  display:block;
  position:fixed;
  bottom:0;
  right:0;
  color:site-colors('light-font');
  padding:15px;
  background-color:site-colors('primary');
  border-top-left-radius:3px;
  z-index:10;
}

.scrollTopFadeIn{
  transition:.8s opacity ease;
  opacity:1;
}